{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update_article_type/{{article_data.id}}" method="POST">
          <div class="form-group">
            <input type="text" name="arttype" value="{{article_data.type}}" class="form-control" maxlength="35">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}